.logo-font {
  font-family: "Redressed", cursive;
}

.logo-text {
  font-size: 28px;
}
.nav-text {
  color: white;
}

.nav-absolute {
  position: absolute;
  top: 0;
  left: 30px;
  width: 100%;
}

a {
  text-decoration: none;
}

.title {
  font-weight: bold;
}

.top-110 {
    margin-top: 110px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.navbar-color {
  background-color: rgba(131, 204, 210, 0.9) !important;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  height: 70px;
  margin-top: auto;
}
